@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: black;
  color: #fcfcfc;
}
h3 {
  font-weight: 600;
}
.container {
  padding: 0px 6.25em;
}
.icon-center {
  vertical-align: middle;
  margin-right: 10px;
}
.container-section {
  padding: 0px 8.75em;
}
@media screen and (max-width: 1024px) {
  .container-section {
    padding: 0px;
  }
}

.heading {
  color: #95dedb;
  font-size: 24px;
  font-weight: 600;
  margin: 1.25em 0px;
}
.mb-10 {
  margin-bottom: 10px;
}
