/* project */
.swiper-pagination {
  border-radius: 100px;
  background: rgba(252, 252, 252, 0.2);
}
.swiper-pagination > .swiper-pagination-progressbar-fill {
  background: #95dedb;
  border-radius: 100px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #95dedb;
}
#project .container-project {
  margin-top: 1.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}
#project .project-image {
  display: flex;
  border: 14px solid #fcfcfc;
  border-radius: 10px;
}
#project .project-image > img {
  width: 30em;
  border: 1px solid #b8b8b8;
}
#project .project-right > h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.85em;
  margin-bottom: 0.42em;
}
#project .project-right > .container-skill-project {
  display: grid;
  grid-template-columns: repeat(3, 6.875em);
  margin-bottom: 3.25em;
}
#project .container-skill-project > .content-skill {
  display: flex;
  align-items: center;
  height: 2.75em;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  border: 1px solid rgba(252, 252, 252, 0.3);
}
