#container-hamburger {
  cursor: pointer;
  display: none;
}
.wrapper-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 26px;
}
.line-hamburger {
  transition: all 0.3s ease-in-out;
  height: 0.25em;
  width: 100%;
  border-radius: 6px;
  background-color: white;
}
.line-first {
  transform-origin: 0% 0%;
  transform: rotate(45deg);
}
.line-second {
  transform: scale(0);
}
.line-third {
  transform-origin: 0% 100%;
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  #container-hamburger {
    display: flex;
    justify-content: flex-end;
  }
}
