<header id="header">
  <div class="container" id="wrapper-nav">
    <div class="container-header">
      <ul class="header-left" id="header-menu">
        <li class="menu menu-active"><a href="/">Home</a></li>
        <li class="menu"><a href="#about-me">About</a></li>
        <li class="menu"><a href="#skills">Skills</a></li>
        <li class="menu"><a href="#project">Project</a></li>
        <li class="menu"><a href="#contact">Contact</a></li>
      </ul>
      <div class="header-right">
        <a class="btn-primary cv" target="_blank">
          <ion-icon
            name="document-text-outline"
            class="icon-center"
          ></ion-icon>My CV
        </a>
      </div>
    </div>

    <div id="container-hamburger">
      <div class="wrapper-hamburger" id="wrapper-hamburger">
        <span class="line-hamburger"></span>
        <span class="line-hamburger"></span>
        <span class="line-hamburger"></span>
      </div>
    </div>

    <div id="navbar">
      <ul id="nav-menu">
        <li class="menu menu-active"><a href="/">Home</a></li>
        <li class="menu"><a href="#about-me">About</a></li>
        <li class="menu"><a href="#skills">Skills</a></li>
        <li class="menu"><a href="#project">Project</a></li>
        <li class="menu"><a href="#contact">Contact</a></li>
        <a class="btn-primary btn-cv cv" target="_blank">
          <ion-icon
            name="document-text-outline"
            class="icon-center"
          ></ion-icon>My CV
        </a>
      </ul>
    </div>
  </div>
</header>