<section id="project">
  <div class="container-section">
    <h2 class="heading hoverable">Projects</h2>
    <div class="swiper">
      <div class="swiper-wrapper" id="container-swiper">
      </div>
      <div class="swiper-button-prev hoverable"></div>
      <div class="swiper-button-next hoverable"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>