:root {
  --heightTab: 34px;
  --widthTab: 140px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  gap: 1.875em;
  font-size: 20px;
}
.header-left > .menu-active {
  background-size: 0 3px, 100% 3px;
}
.header-left > li {
  padding: 0.3125em 0px;
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #dedb95, #db95de, #95dedb);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.header-left > li:hover {
  background-size: 0 3px, 100% 3px;
}
